.DS_Store
.bundle
logs/*.log
logs/**/*.log
log/*.log
log/**/*.log
tmp/**/*
.sass-cache/*
*.bak
tmp/*
*.swp
*~
~*
.gmail_account
Thumbs.db
*/Thumbs.db
.idea/*
db/*.db
db/*.sqlite*
.yardoc/**/*
doc/coverage
Gemfile.lock
.dev_flow
